<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HaloHair</title>
	<!-- Bootstrap Link -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		  rel="stylesheet" />

	<!-- Font Awsome -->
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	@RenderSection("Style", required: false) <!-- Render the Scripts section if it exists -->




</head>
<body>


	<header>
		<!-- Navbar -->
	@* 	<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0"
			 id="navbar">
			<div class="container">
				<a class="navbar-brand" href="#!">
					<span style="color: #1e293b">Halo</span><span style="color: #fff">Hair</span>
				</a>
				<button class="navbar-toggler"
						type="button"
						data-mdb-collapse-init
						data-mdb-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link bar" asp-controller="Men" asp-action="Men">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bar" href="menStore.html">Store</a>

						</li>
						<li class="nav-item">
							<a class="nav-link bar" href="#">Job Search</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bar" asp-controller="Men" asp-action="CourseMen">Courses</a>

						</li>
						<!-- <li class="nav-item">
						  <a class="nav-link bar" href="menStore.html">Store</a>
						</li> -->
						<li class="nav-item">
							<a class="nav-link bar" asp-controller="Men" asp-action="AboutMen">About us</a>

						</li>
						<li class="nav-item">
							<a class="nav-link bar" asp-controller="Men" asp-action="ContactMen">Contact</a>

						</li>
					</ul>
					<ul class="navbar-nav d-flex flex-row align-items-center">
						<li class="nav-item me-3 me-lg-0">
							<a class="nav-link" href="./makeup.html">
								<i class="fas fa-shopping-cart fa-2x"
								   style="margin-top: 20px; margin-right: 30px"></i>
							</a>
						</li>
						<!-- Avatar Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle d-flex align-items-center"
							   href="#"
							   id="navbarDropdownMenuLink"
							   role="button"
							   data-mdb-toggle="dropdown"
							   aria-expanded="false">
								<img src="../Images/Men_Images/menProfile.jpeg"
									 class="rounded-circle"
									 height="50px"
									 width="50px"
									 alt=""
									 loading="lazy" />
							</a>
							<ul class="dropdown-menu dropdown-menu-end"
								aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" asp-controller="MenProfile" asp-action="Profile">My profile</a>
								</li>
								<li><a class="dropdown-item" href="#">Settings</a></li>
								<li><a class="dropdown-item" href="index.html">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav> *@





		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0"
			 id="navbar">
			<div class="container">
				<a class="navbar-brand" href="#!">
					<span style="color: #1E293B">Halo</span><span style="color: #fff">Hair</span>
				</a>
				<button class="navbar-toggler"
						type="button"
						data-mdb-collapse-init
						data-mdb-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link bar" href="#">Home</a>
						</li>
						<!-- <li class="nav-item">
						  <a class="nav-link bar" href="#offer">Offers</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link bar" href="#">Booking</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link bar" href="#">Gallery</a>
						</li> -->
						@* <li class="nav-item">
							<a class="nav-link bar" href="menStore.html">Store</a>
						</li> *@
						<li class="nav-item">
							<a class="nav-link bar" href="#">Job Search</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bar" href="license.html">Courses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bar" href="aboutMen.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bar" href="ContactMen.html">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav d-flex flex-row align-items-center">
						<li class="nav-item me-3 me-lg-0">
							<a class="nav-link" href="./makeup.html">
								<i>
									<a href="@Url.Action("BarberOrUser","Home")" class="btn btn-outline-light">Login</a>
								</i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar -->




		<!-- Navbar -->
	</header>

	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<!-- Footer -->
	<footer class="text-center text-lg-start text-muted">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Get connected with us on social networks:</span>
			</div>
			<!-- Left -->
			<!-- Right -->
			<div class="social-container">
				<a href="" class="me-4 text-reset">
					<i class="fab fa-facebook-f fa-2x facebook"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fa-brands fa-x-twitter fa-2x twitter"></i>
				</a>

				<a href="" class="me-4 text-reset">
					<i class="fab fa-instagram fa-2x instagram"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-linkedin fa-2x linkedin"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->
		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<img src="../Images/Men_Images/Preview (4).png"
								 alt="logo image"
								 style="border-radius: 50%; width: 100px; height: 100px" />
						</h6>
						<p>
							"Your perfect beauty appointment is just a click away. Book,
							relax, and let us take care of the rest!"
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">About</h6>
						<p>
							<a href="#!" class="text-reset">About Us</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Careers</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Sitmap</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Customer Support</a>
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
						<p>
							<a href="#!" class="text-reset">For Partners</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Settings</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Orders</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Help</a>
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
						<p><i class="fas fa-home me-3"></i> Amman, Maca Str, JO</p>
						<p>
							<i class="fas fa-envelope me-3"></i>
							halohair@gmail.com
						</p>
						<p><i class="fas fa-phone me-3"></i> + 962 778 410 502</p>
						<p><i class="fas fa-print me-3"></i> + 962 778 410 502</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->
		<!-- Copyright -->
		<div class="text-center p-4"
			 style="background-color: rgba(0, 0, 0, 0.05)">
			&copy; 2025 Copyright:
			<a class="text-reset fw-bold" href="">HaloHair.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Bootstrap JS (for MDB) -->
	<!-- Add the necessary MDB Bootstrap JS for dropdown functionality -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
