* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-text-color: #5e9693;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --para-color: #666;
    --font-family: "Helvetica Neue", sans-serif;
  }
  
  body,
  html {
    height: 100%;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .arrow a i {
    color: #000;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 2px 10px;
  }
  .arrow a i:hover {
    color: #fff;
    background-color: var(--main-text-color);
    border-color: #fff;
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #ddd;
    margin-left: 200px;
    margin-right: 100px;
    border-right: none;
    width: 50%;
  }
  
  .login-form h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-text-color);
  }
  
  .login-form .p1 {
    color: var(--para-color);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form .wlcom {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: var(--main-text-color);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  .btn-submit {
    background-color: var(--main-text-color);
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
  }
  
  .btn-submit:hover {
    background-color: var(--main-text-color);
  }

  
  button:hover {
    opacity: 0.9;
  }
  
  @media (max-width: 768px) {
    .containerEnterPassword {
      width: 90%;
      padding: 20px;
    }
  }
  
  .extra-links {
    margin-top: 15px;
  }
  
  .extra-links a {
    color: var(--main-text-color);
    text-decoration: none;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }
  
  .extra-links div:last-child {
    width: 35%;
    margin-top: -8px;
    /* font-size: 12px; */
  }
  
  .login-image {
    flex: 1;
    background-image: url("../Images/Login&SignUp/barber.jpg");
    background-size: cover;
    background-position: center;
  
    /* aspect-ratio: 1/1; */
  }
  