
@{
    ViewData["Title"] = "EnterPassword";
    Layout = "~/Views/Shared/_Layout_Services.cshtml";

}

@section Style {
    <link href="~/css/loginUser.css" rel="stylesheet" />
}

<section class="login-section">
    <div class="containerLogin">
        <div class="login-container">
            <!-- Left side: Form -->
            <div class="login-form">
                <div class="arrow">
                    <a href="loginUser.html">
                        <i class="fa-solid fa-arrow-left fa-2x"></i>
                    </a>
                </div>
                <h1>For User Use</h1>
                <span class="wlcom">Welcome back!</span>
                <p class="p1">
                    Enter your password and login as example@gmail.com
                </p>
                <form action="#" method="POST">
                    <div class="form-group">
                        <input type="password"
                               id="password"
                               name="pass"
                               placeholder="Enter your Password"
                               required />
                    </div>

                    <button type="submit" class="btn-submit"><a href="men.html">Continue</a></button>
                </form>

                <div class="extra-links">
                    <a href="resetPassword.html">Forget Password?</a>
                </div>
            </div>

            <!-- Right side: Image -->
            <div class="login-image">
                <!-- You can place your image here -->
            </div>
        </div>
    </div>
</section>
