.gallery {
    display: flex;
    gap: 10px; /* ????? ??? ????? */
    align-items: center;
}

.large-image-container {
    flex: 2; /* ???? ?????? ??????? ???? ??? ???? */
}

.large-image {
    width: 100%; /* ???? ?????? ???????? ???? ???? ??????? */
    max-height: 300px; /* ????? ???? ?????? ??????? ?????? */
    object-fit: cover; /* ???? ?????? ????? ?? ??????? */
    border-radius: 10px; /* ???? ????? */
}

.small-images {
    display: flex;
    flex-direction: column;
    gap: 10px; /* ????? ??? ????? ??????? */
    flex: 1; /* ???? ????? ??????? ???? ????? ??? */
}

.small-image {
    width: 100px; /* ????? ??? ????? ??????? */
    height: 100px;
    object-fit: cover;
    border-radius: 5px; /* ???? ????? */
    transition: transform 0.3s ease-in-out;
}

    .small-image:hover {
        transform: scale(1.1); /* ????? ???? ??? ????? ?????? */
    }

.salon-work {
    margin: 20px;
}

.work-images {
    display: flex;
    flex-wrap: wrap; /* يسمح بانتقال الصور للصف التالي إذا كانت كثيرة */
    gap: 15px; /* المسافة بين الصور */
    justify-content: flex-start; /* محاذاة الصور من البداية */
    width: 100%;
}

.work-image {
    flex: 1 0 18%; /* الصورة تأخذ 18% من العرض المتاح مع بعض المسافة */
    max-width: 200px; /* تأكيد أن الصورة لن تتجاوز هذا العرض */
    text-align: center;
}

.img-thumbnail {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 100%; /* التأكد من أن الصورة تأخذ العرض بالكامل */
    height: auto;
}