
@{
    ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_Layout_Services.cshtml";

}


@section Style {
	<link href="~/css/resetPassword.css" rel="stylesheet" />
}



<section class="login-section">
    <div class="containerReset">
        <div class="login-container">
            <!-- Left side: Form -->
            <div class="login-form">
                <div class="arrow">
                    <a href="loginBarber.html">
                        <i class="fa-solid fa-arrow-left fa-2x"></i>
                    </a>
                </div>
                <h1>For Business Use</h1>
                <span class="wlcom">Welcome back!</span>
                <p class="p1">
                    Enter your password and login as <strong>example@gmail.com</strong>
                </p>
                <form action="#" method="POST">
                    <div class="form-group">
                        <input type="password"
                               id="password"
                               name="pass"
                               placeholder="Enter your Password"
                               required />
                    </div>

                    <button type="submit" class="btn-submit">Login</button>
                </form>

                <div class="extra-links">
                    <p>Are you a business owner looking to manage appointments and your staff?</p>
                    <a href="loginBarber.html">Sign in as a Business</a>
                </div>
            </div>

            <!-- Right side: Image -->
            <div class="login-image">
                <!-- You can place your image here -->
            </div>
        </div>
    </div>
</section>