@{
	ViewData["Title"] = "EditSalon";
	Layout = "~/Views/Shared/_Layout_Barber.cshtml";

}

@section Styles {
	<link href="~/css/Barber/BarberSalon/delete.css" rel="stylesheet" />
}



<div>
	<h2>Edit Salon Images</h2>

	<form asp-action="UploadSalonImages" asp-controller="BarberSalon" method="post" enctype="multipart/form-data">
		<input type="hidden" name="SalonId" value="@Model.SalonId" />

		<div class="form-group">
			<label for="Images">Upload Salon Images:</label>
			<input type="file" name="Images" id="Images" class="form-control" multiple />
		</div>

		<button type="submit" class="btn btn-primary mt-2">Upload Images</button>
	</form>

	<h3>Current Images:</h3>
	<div class="image-gallery">
		@foreach (var image in Model.SalonImages)
		{
			<div>
				<img src="@image.ImageUrl" alt="Salon Image" style="width:150px;height:100px;" />
				<form asp-action="DeleteSalonImage" asp-controller="BarberSalon" method="post">
					<input type="hidden" name="imageId" value="@image.Id" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
		}
	</div>
</div>
