@model HaloHair.Models.SalonImagesViewModel

@{
	ViewData["Title"] = "UploadSalonImages";
	Layout = "~/Views/Shared/_Layout_Barber.cshtml";

}


<h1>UploadSalonImages</h1>



<form asp-action="UploadSalonImages" asp-controller="BarberSalon" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="SalonId" />

	<div class="form-group">
		<label asp-for="Images">Upload Salon Images:</label>
		<input type="file" asp-for="Images" class="form-control" multiple required />
	</div>

	<button type="submit" class="btn btn-primary mt-2">Upload Images</button>
</form>





<!-- عرض الصور المرفوعة -->
@if (Model.SalonImages != null && Model.SalonImages.Count > 0)
{
	<h3>Uploaded Images</h3>
	<div class="row">
		@foreach (var image in Model.SalonImages)
		{
			<div class="col-md-3">
				<img src="@image.ImageUrl" class="img-thumbnail" width="150" height="100" />
			</div>
		}
	</div>
}



